body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #eee;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #222;
  color: #eee;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #444;
}

.video-container {
  margin-top: 20px;
}

.hidden {
  display: none;
}

input {
  padding: 5px;
  margin: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #222;
  color: #eee;
}
#sudoku-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0; /* Sin espacio entre celdas */
  width: 270px; /* Ajusta el tamaño del Sudoku */
}
#sudoku-grid input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.2rem;
  margin: 2px;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #222;
  color: #eee;
}

#sudoku-grid input.fixed {
  background-color: #444;
  font-weight: bold;
  color: #ccc;
  border: 1px solid #888;
}

/* Bordes más gruesos para los bloques 3x3 */
#sudoku-grid input.top-border {
  border-top: 2px solid black;
}
#sudoku-grid input.left-border {
  border-left: 2px solid black;
}
